.hero {

    $color__dark-gray: #414141;

    padding: 10rem 0;
    background-color: $color__dark-gray;
    color: white;

    &--centered {
        text-align: center;
    }

    &__title {
        font-size: 4rem;
    }

    &__subtitle {
        font-size: 2rem;
        margin-top: 1rem;
    }

}
