include /_mixins/meta-tags.pug

doctype html
html( lang="en" )
  head
    meta( charset="UTF-8" )
    meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" )
    link( rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" )
    link( rel="stylesheet" href="/main.css" )
    +metaTags()
    block head
  body
    block content
    script( src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js" )
    script( src="/main.js" )
    block scripts
